{% extends "base.html" %}
{% load static %}
{% block title %} Inicio {% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static 'css/contacto.css' %}">
<link rel="stylesheet" href="{% static 'css/productos.css' %}">
{% endblock %}
{% block body %}
<h2>Inicio</h2>
<div class="card w-50 ">
  <div class="card-body">
    <h5 class="card-title">Vende online fácil, rápido y sin complicaciones</h5>
    <p class="card-text">
La app que transforma tu negocio en minutos. Publica, gestiona y vende desde tu celular. 
<br>
<p>
🌄</p>
<p>
🥗</p>

<div>
 <strong>Beneficios rápidos:</strong><br>
✅ Sin necesidad de conocimientos técnicos.<br>
✅ Gestión de productos, pagos y envíos en un solo lugar.<br>
✅ Integración con WhatsApp y redes sociales.<br>
✅ Soporte personalizado para emprendedores.<br>
</div>
<br>
<div>
 <strong>Cómo funciona:</strong><br>
1️⃣ Regístrate en menos de 1 minuto.<br>
2️⃣ Publica tus productos fácilmente.<br>
3️⃣ Empieza a vender y gestionar tus pedidos.<br>
4️⃣ Conecta con tus clientes.<br>
</div>
<div>
<br>
¿Listo para llevar tu negocio al siguiente nivel? ¡Contáctanos!</div>
<br>
Vende Fácil App: Tu aliado digital para vender más, sin complicarte.

</p>
    <a href="{% url 'register' %}" class="btn bg-warning btn-primary text-black w-100">Prueba Gratis Ahora</a>
  </div>
</div>
{% endblock %}