{% extends "base.html" %}
{% load static %}
{% block title %} Nosotros {% endblock %}
{% block head %}
    <link rel="stylesheet" href="{% static 'css/productos.css' %}">
{% endblock %}
{% block body %}
<h2>Nosotros</h2>
<div class="card w-50 ">
  <div class="card-body">
    <h5 class="card-title">Gracias!!!</h5>
    <p class="card-text">
En Vende Fácil App, creemos que vender online no debería ser complicado. 
<br>
<p>
Nacimos con la misión de ayudar a emprendedores, pequeños negocios y marcas locales a llevar sus productos al mundo digital de forma rápida, sencilla y accesible.
</p>
<p>
 Somos un equipo apasionado por la tecnología y el comercio, que combina desarrollo de software, diseño UX/UI y estrategias de marketing digital para crear herramientas que realmente funcionen para ti.   
</p>

<div>
Nuestra app está diseñada para que puedas:<br>
✅ Publicar tus productos sin necesidad de conocimientos técnicos.<br>
✅ Gestionar pedidos, pagos y envíos en un solo lugar.<br>
✅ Conectar fácilmente con tus clientes a través de redes sociales y WhatsApp.<br>
</div>
<br>
<div>
Con más de X usuarios activos y X productos vendidos, seguimos creciendo cada día gracias a la confianza de personas como tú, que quieren hacer crecer su negocio sin perder tiempo ni dinero.
</div>
<br>
Vende Fácil App: Tu aliado digital para vender más, sin complicarte.

</p>
    <a href="#" class="btn bg-warning btn-primary text-black w-100">Registrarse</a>
  </div>
</div>
{% endblock %}