{% extends "base.html" %} 
{% load static %} 
{% block title %} Productos {% endblock %} 
{% block body %}
<div class="container text-center">
  <div class="row align-items-start">
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          src="{% static 'img/carne.jpg' %}"
          class="card-img-top"
          alt="Carne"
        />
        <div class="card-body">
          <h5 class="card-title">Carne</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card’s content.
          </p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          src="{% static 'img/durazno.jpg' %}"
          class="card-img-top"
          alt="Durazno"
        />
        <div class="card-body">
          <h5 class="card-title">Durazno</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card’s content.
          </p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
    <div class="col">
      <div class="card" style="width: 18rem">
        <img
          src="{% static 'img/huevos.jpg' %}"
          class="card-img-top"
          alt="Huevos"
        />
        <div class="card-body">
          <h5 class="card-title">Huevos</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card’s content.
          </p>
          <a href="#" class="btn btn-primary">Comprar</a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
