{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}
{% block title %} Registro de Usuario {% endblock %}
{% block head %}
    {{ block.super }}
    <link rel="stylesheet" href="{% static 'css/productos.css' %}">
{% endblock %}
{% block body %}
<div class="full-screen-center py-4 mb-5">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 col-lg-5">
                <div class="card shadow-sm">
                    <div class="card-header bg-success p-2 text-white">
                        <h2 class="h5 mb-0 text-center">Bienvenido</h2>
                    </div>
                    <div class="card-body p-4">
                        <form  action="" method="post">
                            {% csrf_token %}                           
                            <div class="card-body">
                                <h5 class="card-title">Complete los campos</h5>
                                 {{ form | crispy }}
                                <a href="{% url 'inicio' %}" class="card-link mb-3">Inicio</a>
                                <a href="{% url 'login' %}" class="card-link">Iniciar Sesión</a>
                                <button  type="submit" class="btn bg-warning btn-primary text-black w-100 mt-3">Registrarse</button>
                            </div>
                            </div>        
                        </form>  
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}